proxy*
locations.yml
BungeeCord.jar
plugins/*.jar
plugins/bStats/
plugins/BungeeChat/logs/
plugins/BungeeChat/userdata/
plugins/BungeeEssentials/chat/
plugins/BungeeEssentials/lib
plugins/BungeeEssentials/*.db
plugins/BungeeHostLimiter/
plugins/BungeePerms/debug.log
plugins/BungeePerms/uuidplayerdb.yml
plugins/BuyCraftX/cache
plugins/LuckPerms/luckperms-h2.mv.db
plugins/LuckPerms/lib/
plugins/LuckPerms/yaml-storage/actions.*
plugins/LuckPerms/yaml-storage/uuidcache.txt
plugins/NuVotifier/
plugins/PluginMetrics/
